@model IEnumerable<Vidly1.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                @if (@customer.MembershipType.DiscountRate != 0)
                {
                    <td>@customer.MembershipType.DiscountRate%</td>
                }
                else
                {
                    <td>No Discount</td>
                }
                <td>@customer.MembershipType.Name</td>
                @if (@customer.Birthday.Year > 1940)
                {
                    <td>@customer.Birthday</td>
                }
                else
                {
                    <td>Birthday not found</td>
                }

            </tr>
            }
        </tbody>
    </table>
}